/*============================
		COLOR Yellow
==============================*/
::selection {
    background: #ffc107;
  }
  
  a, a:focus {
    color: #ffc107;
  }
  
  a:hover, a:active {
    color: #e2aa00;
  }
  
  .primary-menu ul.navbar-nav > li:hover > a:not(.btn), .primary-menu ul.navbar-nav > li > a.active:not(.btn) {
    color: #ffc107;
  }
  .primary-menu ul.navbar-nav > li.dropdown .dropdown-menu li:hover > a:not(.btn) {
    color: #ffc107;
  }
  .primary-menu.navbar-line-under-text ul.navbar-nav > li > a:not(.btn):after {
    border-color: #ffc107;
  }
  
  /* Accordion & Toggle */
  .accordion:not(.accordion-alternate) .card-header a {
    background-color: #ffc107;
    color: #212529;
  }
  
  /* Nav */
  .nav:not(.nav-pills) .nav-item .nav-link.active, .nav:not(.nav-pills) .nav-item .nav-link:hover {
    color: #ffc107;
  }
  
  .nav-tabs .nav-item .nav-link.active {
    color: #0c2f55;
  }
  .nav-tabs .nav-item .nav-link.active:after {
    background-color: #ffc107;
  }
  .nav-tabs .nav-item .nav-link:not(.active):hover {
    color: #ffc107;
  }
  .nav-tabs.flex-column .nav-item .nav-link.active {
    color: #ffc107;
  }
  
  .nav-pills .nav-link:not(.active):hover {
    color: #ffc107;
  }
  
  #footer .nav .nav-item .nav-link:focus {
    color: #ffc107;
  }
  #footer .nav .nav-link:hover {
    color: #ffc107;
  }
  #footer .footer-copyright .nav .nav-link:hover {
    color: #ffc107;
  }
  
  /* Extras */
  .bg-primary, .badge-primary {
    background-color: #ffc107 !important;
  }
  
  .text-primary, .btn-light, .btn-outline-light:hover, .btn-link, .btn-outline-light:not(:disabled):not(.disabled).active, .btn-outline-light:not(:disabled):not(.disabled):active {
    color: #ffc107 !important;
  }
  
  .btn-link:hover {
    color: #e2aa00 !important;
  }
  
  .text-muted {
    color: #8e9a9d !important;
  }
  
  .text-light {
    color: #dee3e4 !important;
  }
  
  a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, button.bg-primary:hover {
    background-color: #e2aa00 !important;
  }
  
  .border-primary {
    border-color: #ffc107 !important;
  }
  
  .btn-primary {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #212529 !important;
  }
  .btn-primary:hover {
    background-color: #e2aa00;
    border-color: #e2aa00;
  }
  
  .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active {
    background-color: #e2aa00;
    border-color: #e2aa00;
  }
  
  .btn-primary.focus, .btn-primary:focus {
    background-color: #e2aa00;
    border-color: #e2aa00;
  }
  
  .btn-outline-primary, .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active {
    color: #ffc107;
    border-color: #ffc107;
  }
  .btn-outline-primary:hover, .btn-outline-primary:not(:disabled):not(.disabled).active:hover, .btn-outline-primary:not(:disabled):not(.disabled):active:hover {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #212529 !important;
  }
  
  .progress-bar,
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link, .dropdown-item.active, .dropdown-item:active {
    background-color: #ffc107;
    color: #212529 !important;
  }
  
  .page-item.active .page-link,
  .custom-radio .custom-control-input:checked ~ .custom-control-label:before,
  .custom-control-input:checked ~ .custom-control-label::before,
  .custom-checkbox .custom-control-input:checked ~ .custom-control-label:before,
  .custom-control-input:checked ~ .custom-control-label:before {
    background-color: #ffc107;
    border-color: #ffc107;
  }
  
  .list-group-item.active {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #212529 !important;
  }
  
  .page-link {
    color: #ffc107;
  }
  .page-link:hover {
    color: #e2aa00;
  }